.gradle
.git
.tmp

docs/generated/build
docs/generated/html
docs/generated/xml
docs/generated/source/_static
docs/generated/source/_templates

libs/
build/

*.stackdump
gradle.sublime-build
sublime-build.sh